<div class="mb-4">
    <nav class="models_page_top navbar navbar-expand-lg bg-primary-subtle mb-2" ng-include="'partials/header.html'">
    
    </nav>
    <div class="container-lg">
        <p>{{con_data[key][index][lang][0]['h4']}}</p>
        <div class="card">
            <div class="card-header">
                <nav>
                    <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active fw-semibold" id="nav-usefulLang-tab" data-bs-toggle="tab" data-bs-target="#nav-usefulLang" type="button" role="tab" aria-controls="nav-usefulLang" aria-selected="true">Useful language</button>
                        <button class="nav-link fw-semibold" id="nav-video-tab" data-bs-toggle="tab" data-bs-target="#nav-video" type="button" role="tab" aria-controls="nav-video" aria-selected="false">Watch & Study</button>
                        <button class="nav-link fw-semibold" id="nav-practice-tab" data-bs-toggle="tab" data-bs-target="#nav-practice" type="button" role="tab" aria-controls="nav-practice" aria-selected="false">Practice</button>
                        <button class="nav-link fw-semibold" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="false">Review</button>
                    </div>
                </nav>
            </div>
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-usefulLang" role="tabpanel" aria-labelledby="nav-usefulLang-tab" tabindex="0">
                        <p><strong>Useful Language</strong></p>
                        <div class="accordion accordion-flush" id="UsefulLanguage">
                            <div class="accordion-item" ng-repeat="var1 in con_data[key][index][lang][0]['left_text']">
                                <h2 class="accordion-header" id="usefullang-heading{{$index}}">
                                    <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#usefullang-collapse{{$index}}" aria-expanded="false" aria-controls="usefullang-collapse{{$index}}">
                                        <span ng-bind-html="var1 | to_trusted"></span>
                                    </button>
                                </h2>
                                <div id="usefullang-collapse{{$index}}"  class="accordion-collapse collapse" aria-labelledby="usefullang-heading{{$index}}" data-bs-parent="#UsefulLanguage">
                                    <div class="accordion-body">
                                        <div class="list-group list-group-flush">
                                            <button type="button" ng-repeat="var2 in con_data[key][index][lang][0]['left_list'][$index]" class="sentenceListAudio list-group-item list-group-item-action" ng-click="play_audio($event)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-up-fill pe-none" viewBox="0 0 16 16"><path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/><path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/><path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/></svg> <span ng-bind-html="var2 | to_trusted"></span>
                                                <audio controls class="spearkerContainer_audio">
                                                    <source ng-src="{{'media/conversation/mp3/' + con_data[key][index][lang][0]['audio'][$parent.$index][$index] + '.mp3'}}" type="audio/mpeg">
                                                    <source ng-src="{{'media/conversation/ogg/' + con_data[key][index][lang][0]['audio'][$parent.$index][$index] + '.ogg'}}" type="audio/ogg">
                                                </audio>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab" tabindex="0">
                        <div class="row">
                            <div class="col-md mb-4">
                                <div class="card">
                                    <div class="card-header fw-semibold">
                                        Watch the video
                                    </div>
                                    <div class="card-body">
                                        <div class="placeholder-glow ratio ratio-16x9">
                                            <span class="placeholder"></span>
                                            <iframe ng-src="{{con_data[key][index][lang][0]['video1'] | trustAsResourceUrl}}" loading="lazy" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="accordion accordion-flush" id="studyContainer">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="studyContainer-heading">
                                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#studyContainer-collapse" aria-expanded="false" aria-controls="videoContainer-collapse">
                                                Study
                                            </button>
                                        </h2>
                                        <div id="studyContainer-collapse"  class="accordion-collapse collapse" aria-labelledby="studyContainer-heading" data-bs-parent="#studyContainer">
                                            <div class="accordion-body" id="studyContainer-body">
                                                <p ng-repeat="var1 in con_data[key][index][lang][0]['study']">
                                                    <span ng-bind-html="var1 | to_trusted"></span>
                                                </p>
                                                <div class="study_tick bg-body-tertiary p-3">
                                                    <div ng-repeat="var1 in con_data[key][index][lang][0]['left_text_in']">
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="con{{$index}}">
                                                                <span data-index="{{$index}}" ng-bind-html="var1 | to_trusted"></span>
                                                            </label>
                                                            <input type="checkbox" class="form-check-input" id="con{{$index}}" ng-model="study_checkbox[$index]" ng-change="study_check()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="tab-pane fade" id="nav-practice" role="tabpanel" aria-labelledby="nav-practice-tab" tabindex="0">
                        <div class="popupC" style="display: none; width: 300px; position: fixed;z-index: 9;">
                            <!--                <div class="closeb" ng-click="closePopup($event)">x</div>-->
                            <div class="popup">
                                <span class="alertMsg selNone">Please record your voice, then press Play.</span>
                                <div class="btn_container">
                                    <div class="tpl_btn" ng-click="hide_popupC()">OK</div>
                                </div>
                            </div>
                        </div>
                        <div class="conv_grp "ng-repeat="var1 in con_data[key][index][lang][0]['practise']" ng-init="parentIndex = $index" style="margin-bottom: 7px;">
                            <p>{{var1.header}}</p>
                            <div class="con_play_wrap" ng-repeat="var2 in var1.rows">
                                <div class="col1">{{var2.txt}}:</div>
                                <div class="col2" ng-if="var2.btns == 'play'" >

                                </div>
                                <div class="col2" ng-bind-html="var1.row_data[$index] | to_trusted" ng-if="var2.btns == 'both'">

                                </div>

                                <div class="col3" ng-if="var2.btns == 'play'">
                                    <div class="play file_play" data-path="{{'media/conversation/mp3/right/' + con_data[key][index][lang][0]['audios'][$index] + '.mp3'}}" ng-click="play_audio_common(con_data[key][index][lang][0]['audios'][$index], $event)"></div>
                                    <audio controls class="hide_audio">
                                        <source ng-src="{{'media/conversation/mp3/right/' + con_data[key][index][lang][0]['audios'][$index] + '.mp3'}}" type="audio/mpeg">
                                        <source ng-src="{{'media/conversation/ogg/right/' + con_data[key][index][lang][0]['audios'][$index] + '.ogg'}}" type="audio/ogg">
                                    </audio>
                                </div>

                                <div class="col3" ng-if="var2.btns == 'both'">
                                    <!--<div class="stop" data-audio_status="start" ng-click="start_record(con_data[key][index][lang][0]['audios'][$index], $event)">
                                    </div>-->
                                    <!--<div class="play" data-audio="" data-record="{{con_data[key][index][lang][0]['audios'][$index]}}" ng-click="play_wav_ol(con_data[key][index][lang][0]['audios'][$index], $event)">
                                    </div>-->
                                </div>
                            </div>
                            <!--<div class="con_play_wrap">-->
                                <!--<div class="left_col">{{var1.play_note}}</div>-->
                                <!--<div class="right_col"><div class="play" ng-click="play_all($event)"></div></div>-->
                            <!--</div>-->
                        </div>
                        <p>{{con_data[key][index][lang][0]['end_note']}}</p>
                        <label for="note-textarea{{$index}}" class="form-label">Your notes</label>
                        <textarea class="form-control your_notes_txt" id="note-textarea{{$index}}" rows="3" ng-blur="conversation_notes()"></textarea>
                        <!--<div class="exam_btns">-->
                            <!--<div class="stop" data-audio_status="start" ng-click="start_record('con_' + key + '_' + index + '_' + lang, $event)"></div>-->
                            <!--<div class="play" data-audio="" ng-click="play_wav_ol('con_' + key + '_' + index + '_' + lang, $event)"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab" tabindex="0">
                        <div class="form-check" ng-repeat="var1 in con_data[key][index][lang][0]['reviews']">
                            <label for="checkbox_klausr_con{{$index}}" class="form-check-label"><span ng-bind-html="var1 | to_trusted"></span></label>
                            <input type="checkbox" class="form-check-input" id="checkbox_klausr_con{{$index}}" ng-model="conversation_review_arr[$index]" ng-change="conversation_review()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
