<div class="container">
    <div class="titleContainer" ng-include="'partials/header.html'">

    </div>
    <div class="content">
        <div class="left_part w_30 open left_part_m scroll_bar">
            <p>{{con_data[key][index][lang][0]['h4']}}</p>
            <div class="accordion_c">
                <p><strong>Useful Language:</strong></p>
                <ul>
                    <li ng-repeat="var1 in con_data[key][index][lang][0]['left_text']">
                        <div class="accordion_title accordion_title_exam" ng-click="accordion_title($event)">
                            <span class="ico"></span>
                            <p ng-bind-html="var1 | to_trusted"></p>
                        </div>
                        <div class="accordion_content" style="padding: 10px;">
                            <ul class="left_list_ul">
                                <li ng-repeat="var2 in con_data[key][index][lang][0]['left_list'][$index]" class="italic_txt" ng-click="play_audio($event)">
                                    <span ng-bind-html="var2 | to_trusted" ></span>
                                    <audio controls class="spearkerContainer_audio">
                                        <source ng-src="{{'media/conversation/mp3/' + con_data[key][index][lang][0]['audio'][$parent.$index][$index] + '.mp3'}}" type="audio/mpeg">
                                        <source ng-src="{{'media/conversation/ogg/' + con_data[key][index][lang][0]['audio'][$parent.$index][$index] + '.ogg'}}" type="audio/ogg">
                                    </audio>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_part w_70 right_part_m scroll_bar">
            <div class="accordion_c">
                <ul>
                    <li>
                        <div class="accordion_title selected" ng-click="accordion_title($event)"><p>Watch</p><span class="ico"></span></div>
                        <div class="accordion_content" style="display: block; padding-top: 19px;">
                            <iframe class="video_container" style="width: 100%;" ng-src="{{con_data[key][index][lang][0]['video1'] | trustAsResourceUrl}}" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </li>
                    <li>
                        <div class="accordion_title" ng-click="accordion_title($event)"><p>Study</p><span class="ico"></span></div>
                        <div class="accordion_content" style="padding: 0;">
                            <div class="study_wrap" style="padding: 13px 19px;">
                                <p ng-repeat="var1 in con_data[key][index][lang][0]['study']">
                                    <span ng-bind-html="var1 | to_trusted"></span>
                                </p>
                            </div>
                            <div class="study_tick">
                                <div ng-repeat="var1 in con_data[key][index][lang][0]['left_text_in']">
                                    <div>
                                        <span data-index="{{$index}}" ng-bind-html="var1 | to_trusted"></span>
                                        <input type="checkbox" class=" study_tick_check" id="con{{$index}}" ng-model="study_checkbox[$index]" ng-change="study_check()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion_title" ng-click="accordion_title($event)"><p>Practise</p><span class="ico"></span></div>
                        <div class="accordion_content">
                            <div class="popupC" style="display: none; width: 300px; position: fixed;z-index: 9;">
                                <!--                <div class="closeb" ng-click="closePopup($event)">x</div>-->
                                <div class="popup">
                                    <span class="alertMsg selNone">Please record your voice, then press Play.</span>
                                    <div class="btn_container">
                                        <div class="tpl_btn" ng-click="hide_popupC()">OK</div>
                                    </div>
                                </div>
                            </div>
                            <div class="conv_grp "ng-repeat="var1 in con_data[key][index][lang][0]['practise']" ng-init="parentIndex = $index" style="margin-bottom: 7px;">
                                <p>{{var1.header}}</p>
                                <div class="con_play_wrap" ng-repeat="var2 in var1.rows">
                                    <div class="col1">{{var2.txt}}:</div>
                                    <div class="col2" ng-if="var2.btns == 'play'" >

                                    </div>
                                    <div class="col2" ng-bind-html="var1.row_data[$index] | to_trusted" ng-if="var2.btns == 'both'">

                                    </div>

                                    <div class="col3" ng-if="var2.btns == 'play'">
                                        <div class="play file_play" data-path="{{'media/conversation/mp3/right/' + con_data[key][index][lang][0]['audios'][$index] + '.mp3'}}" ng-click="play_audio_common(con_data[key][index][lang][0]['audios'][$index], $event)"></div>
                                        <audio controls class="hide_audio">
                                            <source ng-src="{{'media/conversation/mp3/right/' + con_data[key][index][lang][0]['audios'][$index] + '.mp3'}}" type="audio/mpeg">
                                            <source ng-src="{{'media/conversation/ogg/right/' + con_data[key][index][lang][0]['audios'][$index] + '.ogg'}}" type="audio/ogg">
                                        </audio>
                                    </div>

                                    <div class="col3" ng-if="var2.btns == 'both'">
                                        <div class="stop" data-audio_status="start" ng-click="start_record(con_data[key][index][lang][0]['audios'][$index], $event)">

                                        </div>
                                        <div class="play" data-audio="" data-record="{{con_data[key][index][lang][0]['audios'][$index]}}" ng-click="play_wav_ol(con_data[key][index][lang][0]['audios'][$index], $event)">

                                        </div>
                                    </div>
                                </div>
                                <div class="con_play_wrap">
                                    <div class="left_col">{{var1.play_note}}</div>
                                    <div class="right_col"><div class="play" ng-click="play_all($event)"></div></div>
                                </div>
                            </div>

                            <p>{{con_data[key][index][lang][0]['end_note']}}</p>

                            <div class="textarea_wrap">
                                <p>Your notes:</p>
                                <textarea class="your_notes_txt" style="border:1px solid #999999;
                                          width:100%;
                                          margin:5px 0;
                                          padding:3px; height: 120px;" ng-blur="conversation_notes()"></textarea>
                            </div>
                            <div class="exam_btns">
                                <div class="stop" data-audio_status="start" ng-click="start_record('con_' + key + '_' + index + '_' + lang, $event)"></div>
                                <div class="play" data-audio="" ng-click="play_wav_ol('con_' + key + '_' + index + '_' + lang, $event)"></div>
                            </div>
                        </div>


                    </li>

                    <li>
                        <div class="accordion_title" ng-click="accordion_title($event)"><p>Review</p><span class="ico"></span></div>
                        <div class="accordion_content review">

                            <h4 ng-repeat="var1 in con_data[key][index][lang][0]['reviews']" style="font-weight: normal;">
                                <span ng-bind-html="var1 | to_trusted"></span>
                                <input type="checkbox" class="study_tick_check" id="checkbox_klausr_con{{$index}}" ng-model="conversation_review_arr[$index]" ng-change="conversation_review()">
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>