<div class="">
    <nav class="models_page_top navbar navbar-expand-lg bg-primary-subtle mb-2" ng-include="'partials/header.html'">

    </nav>
    <div class="container-lg">
        <div class="row">
            <div class="col-md-4 mb-4">
                <p><strong ng-bind-html="exercise | to_trusted"></strong></p>
                <p>{{ex_data[key][index][lang][0]['h4']}}</p>
                <div class="accordion accordion-flush" id="ex_dictation2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="dictationex2-headingOne">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#dictationex2-collapseOne" aria-expanded="false" aria-controls="dictationex2-collapseOne">
                                Instructions
                            </button>
                        </h2>
                        <div id="dictationex2-collapseOne" class="accordion-collapse collapse" aria-labelledby="dictationex2-headingOne" data-bs-parent="#ex_dictation2">
                            <div class="accordion-body">
                                <p class="intructions_p" style="display: none;"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="accordion accordion-flush" id="ex_dictation2_place">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="dictationex2place-headingOne">
                            <button class="accordion-button fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#dictationex2place-collapseOne" aria-expanded="false" aria-controls="dictationex2place-collapseOne">
                                Practice
                            </button>
                        </h2>
                        <div id="dictationex2place-collapseOne" class="accordion-collapse collapse show" aria-labelledby="dictationex2place-headingOne" data-bs-parent="#ex_dictation2_place">
                            <div class="accordion-body">
                                <div ng-include="exercise_tpl.url"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="review_display" class="accordion accordion-flush" id="ex_dictation2_review">
                    <div class="accordion-item mt-4">
                        <h2 class="accordion-header" id="dictationex2review-headingOne">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#dictationex2review-collapseOne" aria-expanded="false" aria-controls="dictationex2review-collapseOne">
                                Review
                            </button>
                        </h2>
                        <div id="dictationex2review-collapseOne" class="accordion-collapse collapse" aria-labelledby="dictationex2review-headingOne" data-bs-parent="#ex_dictation2_review">
                            <div class="accordion-body">
                                <p ng-show="mainAns" class="score_ele"></p>
                                <p ng-bind-html="percentage_score | to_trusted"></p>
                                <p>Try this exercise again for further practice and different questions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>