<div class="">
    <nav class="models_page_top navbar navbar-expand-lg bg-primary-subtle mb-2" ng-include="'partials/header.html'">

    </nav>

    <div class="container-lg">
        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="accordion accordion-flush" id="exercisedictation">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="dication-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#dication-collapse" aria-expanded="false" aria-controls="dication-collapse">
                                Dictation
                            </button>
                        </h2>
                        <div id="dication-collapse" class="accordion-collapse collapse" aria-labelledby="dication-heading" data-bs-parent="#exercisedictation">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Exercise</th>
                                            <th>British</th>
                                            <th>American</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dictation in ex_data['dictation']">
                                            <td>{{dictation.exercise}}</td>
                                            <td>
                                                <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'dictation', 'b')">Go</div>
                                            </td>
                                            <td>
                                                <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'dictation', 'a')">Go</div>
                                            </td>
                                            <td>
                                                <div class="infoB" ng-click="s_info($event, dictation.info, 4)"></div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2"> <!--Start column-->
                <div class="accordion accordion-flush" id="exerciseMatchUp">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="MatchUp-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#MatchUp-collapse" aria-expanded="false" aria-controls="MatchUp-collapse">
                                Match-up
                            </button>
                        </h2>
                        <div id="MatchUp-collapse" class="accordion-collapse collapse" aria-labelledby="MatchUp-heading" data-bs-parent="#exerciseMatchUp">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Exercise</th>
                                            <th>British</th>
                                            <th>American</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="matchup in ex_data['matchup']">
                                            <td>{{matchup.exercise}}</td>
                                            <td>
                                                <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'matchup', 'b')">Go</div>
                                            </td>
                                            <td>
                                                <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'matchup', 'a')">Go</div>
                                            </td>
                                            <td>
                                                <div class="infoB" ng-click="s_info($event, matchup.info, 4)"></div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-md-6 mb-2"> <!--Start column-->
                <div class="accordion accordion-flush" id="exerciseReordering">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Reordering-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#Reordering-collapse" aria-expanded="false" aria-controls="Reordering-collapse">
                                Reordering
                            </button>
                        </h2>
                        <div id="Reordering-collapse" class="accordion-collapse collapse" aria-labelledby="Reordering-heading" data-bs-parent="#exerciseReordering">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                <thead>
                            <tr>
                                <th>Exercise</th>
                                <th>British</th>
                                <th>American</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="reordering in ex_data['reordering']">
                                <td>{{reordering.exercise}}</td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'reordering', 'b')">Go</div>
                                </td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'reordering', 'a')">Go</div>
                                </td>
                                <td>
                                    <div class="infoB" ng-click="s_info($event, reordering.info, 4)"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-md-6 mb-2"> <!--Start column-->
                <div class="accordion accordion-flush" id="exerciseSndSpll">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="SndSpll-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#SndSpll-collapse" aria-expanded="false" aria-controls="SndSpll-collapse">
                                Sounds and Spelling
                            </button>
                        </h2>
                        <div id="SndSpll-collapse" class="accordion-collapse collapse" aria-labelledby="SndSpll-heading" data-bs-parent="#exerciseSndSpll">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                <thead>
                            <tr>
                                <th>Exercise</th>
                                <th>British</th>
                                <th>American</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sounds_n_spelling in ex_data['sounds_n_spelling']">
                                <td ng-bind-html="sounds_n_spelling.exercise | to_trusted"></td>
                                <td>
                                    <div ng-if="sounds_n_spelling.b_s == 'yes'" role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'sounds_n_spelling', 'b')">Go</div>
                                </td>
                                <td>
                                    <div ng-if="sounds_n_spelling.a_s == 'yes'" role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'sounds_n_spelling', 'a')">Go</div>
                                </td>
                                <td>
                                    <div class="infoB" ng-click="s_info($event, sounds_n_spelling.info, 4)"></div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-md-6 mb-2"> <!--Start column-->
                <div class="accordion accordion-flush" id="exercisesorting">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="sorting-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#sorting-collapse" aria-expanded="false" aria-controls="sorting-collapse">
                                Sorting
                            </button>
                        </h2>
                        <div id="sorting-collapse" class="accordion-collapse collapse" aria-labelledby="sorting-heading" data-bs-parent="#exercisesorting">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Exercise</th>
                                            <th>British</th>
                                            <th>American</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sorting in ex_data['sorting']">
                                            <td>{{sorting.exercise}}</td>
                                            <td>
                                                <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'sorting', 'b')">Go</div>
                                            </td>
                                            <td>
                                                <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'sorting', 'a')">Go</div>
                                            </td>
                                            <td>
                                                <div class="infoB" ng-click="s_info($event, sorting.info, 4)"></div>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-md-6 mb-2"> <!--Start column-->
                <div class="accordion accordion-flush" id="exerciseOddOut">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="OddOut-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#OddOut-collapse" aria-expanded="false" aria-controls="OddOut-collapse">
                                Odd One Out
                            </button>
                        </h2>
                        <div id="OddOut-collapse" class="accordion-collapse collapse" aria-labelledby="OddOut-heading" data-bs-parent="#exerciseOddOut">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                <thead>
                            <tr>
                                <th>Exercise</th>
                                <th>British</th>
                                <th>American</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="odd_one_out in ex_data['odd_one_out']">
                                <td>{{odd_one_out.exercise}}</td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'odd_one_out', 'b')">Go</div>
                                </td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'odd_one_out', 'a')">Go</div>
                                </td>
                                <td>
                                    <div class="infoB" ng-click="s_info($event, odd_one_out.info, 4)"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-md-6 mb-2"> <!--Start column-->
                <div class="accordion accordion-flush" id="exerciseSnap">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Snap-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#Snap-collapse" aria-expanded="false" aria-controls="Snap-collapse">
                                Snap!
                            </button>
                        </h2>
                        <div id="Snap-collapse" class="accordion-collapse collapse" aria-labelledby="Snap-heading" data-bs-parent="#exerciseSnap">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                <thead>
                            <tr>
                                <th>Exercise</th>
                                <th>British</th>
                                <th>American</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="snap in ex_data['snap']">
                                <td>{{snap.exercise}}</td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'snap', 'b')">Go</div>
                                </td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'snap', 'a')">Go</div>
                                </td>
                                <td>
                                    <div class="infoB" ng-click="s_info($event, snap.info, 4)"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End column-->
            <div class="col-md-6 mb-2"> <!--Start column-->
                <div class="accordion accordion-flush" id="exerciseMemMatch">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="MemMatch-heading">
                            <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#MemMatch-collapse" aria-expanded="false" aria-controls="MemMatch-collapse">
                                Memory Match
                            </button>
                        </h2>
                        <div id="MemMatch-collapse" class="accordion-collapse collapse" aria-labelledby="MemMatch-heading" data-bs-parent="#exerciseMemMatch">
                            <div class="accordion-body table-responsive">
                                <table class="table table-hover">
                                <thead>
                            <tr>
                                <th width="30%">Exercise</th>
                                <th>British</th>
                                <th>American</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="memory_match in ex_data['memory_match']">
                                <td>{{memory_match.exercise}}</td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'memory_match', 'b')">Go</div>
                                </td>
                                <td>
                                    <div role="button" class="rounded-2 text-center fw-bold text-light" style="background-color: var(--bs-primary); width: 35px;" ng-click="go_btn_clk($event, $index, 'memory_match', 'a')">Go</div>
                                </td>
                                <td>
                                    <div class="infoB" ng-click="s_info($event, memory_match.info, 4)"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--End column-->
        </div>
    </div>

</div>