<div class="">
    <nav class="models_page_top navbar navbar-expand-lg bg-primary-subtle" ng-include="'partials/header.html'">
    
    </nav>
    <div class="container-lg">
        <div class="mt-4">
            <ul class="list-group list-group-flush">
                <li ng-repeat="task in exam_data['task']" class="list-group-item list-group-item-action">
                    <span class="sp_left" data-key="0" ng-click="go_btn_clk($event, $index, 'task')">{{task.task}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
