<div class="left_menu" ng-hide="left_menu" ng-click="left_menu_clk($event)"></div>
<h1 ng-bind-html="head_h1 | to_trusted"></h1>
<div class="up_arrow" ng-hide="left_menu" ng-click="up_clk($event)"></div>
<div class ="models_page_right_panel">
    <span class="models_page_menu_text">{{current_section}}</span>
    <div class="models_page_down_arrow"  ng-click="drop_clk($event)">
        <div class="down_arrow_wrapper" ng-hide="dropdown">
            <ul>
                <li ng-click="load_section($event, 'sound_page')">Sounds</li>
                <li ng-click="load_section($event, 'ex_page')">Exercises</li>
                <li ng-click="load_section($event, 'con_page')">Conversations</li>
                <li ng-click="load_section($event, 'exam_page')">Exams</li>
                <li ng-click="help_btn()">Help</li>
                <li ng-click="load_section($event, 'home_page')">Home</li>
            </ul>
        </div>
    </div>
</div>