   <div class="container-fluid">
       <div class="navbar-brand text-truncate fw-semibold">
           <span class="l_title text-truncate" ng-bind-html="head_h1 | to_trusted"></span>
           <span class="s_title text-truncate" ng-bind-html="s_head_h1 | to_trusted"></span>
       </div>
       <span class="up_arrow d-flex" ng-hide="left_menu" ng-click="up_clk($event)" data-bs-toggle="popover" data-bs-content="Go back"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/> </svg></span>
       <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#innerNavbar" aria-controls="innerNavbar" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="navbar-collapse collapse" id="innerNavbar">
           <ul class="navbar-nav float-start">
               <li class="nav-item dropdown">
                   <div class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Menu: <span class="models_page_menu_text">{{current_section}}</span>
                   </div>
                   <ul class="dropdown-menu dropdown-menu-start">
                       <li>
                           <div class="dropdown-item" role="button" ng-click="load_section($event, 'sound_page')">Sounds</div>
                       </li>
                       <li>
                           <div class="dropdown-item" role="button" ng-click="load_section($event, 'ex_page')">Exercises</div>
                       </li>
                       <li>
                           <div class="dropdown-item" role="button" ng-click="load_section($event, 'con_page')">Conversations</div>
                       </li>
                       <li>
                           <div class="dropdown-item" role="button" ng-click="load_section($event, 'exam_page')">Exams</div>
                       </li>
                       <li>
                           <div class="dropdown-item" role="button" ng-click="help_btn()">Help</div>
                       </li>
                       <li>
                           <div class="dropdown-item" role="button" ng-click="load_section($event, 'home_page')">Home</div>
                       </li>
                   </ul>
               </li>
           </ul>
       </div>
   </div>