<div class="actContainer reordering dragMatch clearfx" ng-controller="dragMatchCtrl">
    <div class="actQuestion">question: {{cnt + 1}}</div>
    <!--    <audio controls id="reorderAudio">
            <source ng-src="{{audio.src + '.ogg'}}" type="audio/ogg">
        <source ng-src="{{audio.src + '.mp3'}}" type="audio/mp3">
        </audio>-->
    <div class="swapableContainerO">
        <div class="swapableContainer">

            <ul class="dragContainer">
                <li class="dragHolder" ng-mousedown="startTimer()" ng-repeat="audio in audios">
                    <div class="wordSpeaker" data-content="{{ogWords[$index].text}}">
                        <div class="wSpeaker" ng-click="playAudio($event)" data-ans="{{ogWords[$index].text}}">
                            <audio controls class="reorderAudio">
                                <source ng-src="{{'media/exercise/ogg/' + audio.src + '.ogg'}}" type="audio/ogg">
                                <source ng-src="{{'media/exercise/ogg/' + audio.src + '.mp3'}}" type="audio/mp3">
                            </audio>
                        </div>
                    </div>
                    <div class="droppable btn-droppable" data-drop="{{ogWords[$index].drag}}" jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                        <div ng-click="join_drag($event)" data-content="{{words[$index].text}}" class="draggable btn-draggable" data-drag="{{ogWords[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(words[$index].text, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}" ng-bind-html="words[$index].text | to_trusted"></div>
                    </div>
                </li>
            </ul>
            <span class="sentanceC"><span class="sentance">{{sentance}}</span></span>
        </div>
        <div class="btn_container">

            <div class="tpl_btn submit" ng-click="submit()">Submit</div>

            <div class="tpl_btn" ng-click="change_ex_tpl()" ng-if="cnt < (size - 1)">Next</div>
            <div class="tpl_btn quit" ng-click="quit()">Quit</div>
        </div>
    </div>
</div>
