
<div class="activity" ng-controller="memoryCtrl as memoryC">
    <div class="actContainer">
        <div class="card">
            <div class="card-header d-flex">
                <!--<div class="timer">{{time|timer}}</div>-->
                <div class="timer p-2 ms-auto"></div>
            </div>
            <div class="card-body">
                <div class="flipActContainer clearfx" style="position: relative; height: 100%;width: 100%;z-index: 0;">
                    <ul class="rotateLi">
                        <li ng-repeat="card in cards" class="clear_{{$index % 4 == 0}}">
                            <div ng-click="rotate($event, card.value, $index)">
                                <div class='front'></div>
                                <div class='back selNone text-break'>{{card.text}}<div class="response_ico"></div></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn_container d-flex justify-content-end">
                    <button type="button" class="tpl_btn btn btn-outline-primary quit" ng-click="quit()">Quit</button>
                </div>
            </div>
        </div>
        <div class="blackPatch">
            <div class="h-100 d-flex justify-content-center align-items-center">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading"><span class="alertMsg selNone">Out of time!</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" ng-click="quit()" aria-label="Close"></button>
                    <button type="button" class="tpl_btn btn btn-outline-primary try_again" ng-click="_refresh()">Try again</button>
                    <button type="button" class="tpl_btn btn btn-outline-primary quit" ng-click="change_ex_tpl()" ng-if="cnt < (size - 1)">Try another game</button>
                    <button type="button" class="tpl_btn btn btn-outline-primary" data-bs-dismiss="alert" ng-click="quit()">Quit</button>
                </div>
            </div>
        </div>
    </div>
</div>