
<div class="activity" ng-controller="memoryCtrl as memoryC">
    <div class="actContainer">
        <div class="flipActContainer clearfx" style="position: relative; height: 100%;width: 100%;z-index: 0;">
            <!--<div class="timer">{{time|timer}}</div>-->
            <div class="timer"></div>
            <ul class="rotateLi">
                <li ng-repeat="card in cards" class="clear_{{$index % 4 == 0}}">
                    <div ng-click="rotate($event, card.value, $index)">
                        <div class='front'></div>
                        <div class='back selNone'>{{card.text}}<div class="response_ico"></div></div>
                    </div>
                </li>
            </ul>
            <div class="btn_container">
                <div class="tpl_btn quit" ng-click="quit()">Quit</div>
            </div>
        </div>
        <div class="blackPatch">
            <div class="popupC">
                <!--                <div class="closeb" ng-click="closePopup($event)">x</div>-->
                <div class="popup">
                    <span class="alertMsg selNone">Out of time!</span>
                    <div class="btn_container btn_container_match">
                        <div class="tpl_btn try_again" ng-click="_refresh()">Try again</div>
                        <div class="tpl_btn quit" ng-click="change_ex_tpl()" ng-if="cnt < (size - 1)">Try another game</div>
                        <div class="tpl_btn" ng-click="closePopup($event)">Quit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>