
<div class="actContainer oddoneOut clearfx" ng-controller="Odd1Out_Ctrl">

    <div class="actQuestion">question: {{cnt + 1}}</div>

    <div class="">

        <div class="">

            <div class="disabler_div"></div>

            <ul class="ul_cls_oddOut">

                <li class="li_cls" ng-click="check_odd_one_out($event)" ng-repeat="word in words" data-ans="{{word.answer}}">

                    <div class="odd_Button" data-index="{{word.index}}" >{{word.value}}</div>

                    <div data-ans="{{word.answer}}" class="{{word.answer}}_odd"></div>

                </li>

            </ul>

            <div class="correctAns ng-binding odd1out" style="display: none;"><strong>Correct answer:</strong>  {{question.correctAns}}</div>

            <span class="sentanceC"><span class="sentance">{{sentance}}</span></span>

        </div>

        <div  class="btn_container">



            <div submitControl class="tpl_btn quit submit" ng-disabled="isSubmitDisabled" ng-model="isSubmitDisabled" ng-click="submit($event)">Submit</div>



            <div class="tpl_btn" ng-click="change_ex_tpl()" ng-if="cnt < (size - 1)">Next</div>

            <div class="tpl_btn quit" ng-click="quit()">Quit</div>

        </div>

    </div>

</div>

