
<div class="actContainer reordering clearfx" ng-controller="reorderingCtrl as reorder">
    <div class="actQuestion mb-2 text-primary-emphasis d-flex justify-content-end fw-semibold">question #{{cnt + 1}}</div>
    
    <div class="card">
        <div class="card-header">
            <div class="spearkerContainer d-flex justify-content-center">
                <div class="speaker" ng-click="playAudio($event)">
                    <audio controls id="reorderAudio">
                        <source ng-src="{{'media/exercise/mp3/' + audio.src + '.mp3'}}" type="audio/mpeg">
                        <source ng-src="{{'media/exercise/ogg/' + audio.src + '.ogg'}}" type="audio/ogg">
                    </audio>
                </div>
                <!--<div class="timer">{{time|timer}}</div>-->
                <div class="timer ms-auto p-2"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="sortableContainer d-flex justify-content-center mb-4 ng-cloak">
                <ul class="dragContainer">
                    <li class="dragHolder p-1" ng-repeat="word in words">
                        <div class="drag btn btn-primary" ng-mousedown="startTimer()">
                            {{word.value}}
                        </div>
                    </li>
                </ul>
                <span class="sentanceC"><span class="sentance">{{sentanceAns}}</span></span>
            </div>
            <div class="row g-2 mt-4">
                <div class="col-md d-flex align-items-center justify-content-sm-center justify-content-md-start">
                    <div class="correctAns"><strong>Correct answer:</strong> <span>{{sentanceAns}}</span></div>
                </div>
                <div class="col-md">
                    <div class="btn_container btn-group d-md-flex justify-content-md-end" role="group">
                        <button type="button" class="tpl_btn btn btn-outline-primary submit" ng-click="submit()">Submit</button>
                        <button type="button" class="tpl_btn btn btn-outline-primary" ng-click="change_ex_tpl()" ng-if="cnt < (size - 1)">Next</button>
                        <button type="button" class="tpl_btn btn btn-outline-primary quit" ng-click="quit()">Quit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blackPatch">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h4 class="alert-heading"><span class="alertMsg">Out of time!</span></h4>
                <p>Try this exercise again for further practice and different questions.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" ng-click="quit()" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
