<div class="actContainer snap clearfx" ng-controller="Snap_Ctrl">
    <div class="actQuestion mb-2 text-primary-emphasis d-flex justify-content-end fw-semibold">question #{{cnt + 1}}</div>
    <div class="card">
        <div class="card-header d-flex">
            <!--<div class="timer">{{time|timer}}</div>-->
            <div class="timer p-2 ms-auto"></div>
        </div>
        <div class="card-body">
            <div class="disabler_div_snap"></div>
            <ul class="ul_cls_spelling mb-4 mt-4">
                <li class="li_cls_snap"  ng-repeat="word in words" data-ans="{{word.answer}}">
                    <div class="odd_Button" style="cursor: default;" data-index="{{word.index}}" ng-bind-html="word.value | to_trusted"></div>
                    <div data-ans="{{word.answer}}" class="{{word.answer}}"></div>
                </li>
            </ul>
            <span class="sentanceC"><span class="sentance">{{sentance}}</span></span>
        
            <div class="snap_wrapper">
                <!--            <canvas id="my_canvas" height='134' width='116'></canvas>-->
                <canvas id="canvas" width="116" height="116"></canvas>
                <!--            <div class="feed_Button" ng-click="yesClicked($event)" style=" top: 0px; background-position:0px 0px;width: 116px;position: absolute;"></div>-->
                <!--<div data-ans="{{feedbacks[0].answer}}" class="feed_Button" ng-click="yesClicked($event)" data-index="{{feedback.index}}" >
                        <p class='text_cls_snap'>{{feedbacks[0].value}}</p>
                    </div>
                    <div data-ans="{{feedbacks[1].answer}}" class="feed_Button" ng-click="noClicked($event)" style="background-position-x: -248px;" data-index="{{feedback.index}}" >
                        <p class='text_cls_snap'  >{{feedbacks[1].value}}</p>
                    </div>
                -->
                <div data-ans="{{feedbacks[0].answer}}" class="img_feedback_snap"></div>
            </div>
            <div class="mt-5 btn_container btn-group d-flex">
                <!--            <div class="tpl_btn quit submit" ng-click="submit($event)">Submit</div>-->
                <button type="button" class="tpl_btn btn btn-outline-primary" ng-click="change_ex_tpl()" ng-if="cnt < (size - 1)">Next</button>
                <button type="button" class="tpl_btn btn btn-outline-primary quit" ng-click="quit()">Quit</button>
            </div>
        </div>
    </div>
    <div class="blackPatch">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h4 class="alert-heading"><span class="alertMsg">Out of time!</span></h4>
                <p>Try this exercise again for further practice and different questions.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" ng-click="quit()" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>