<div class="actContainer simSound clearfx" ng-controller="stressCtrl">
    <div class="actQuestion mb-2 text-primary-emphasis d-flex justify-content-end fw-semibold">question #{{cnt + 1}}</div>
    <div class="card">
        <div class="card-body">
            <div class="simSoundContainer">
            <div class="Actdisabler"></div>
            <div class="row justify-content-center">
              <div class="col-6 mb-3 mb-sm-0 dropConainer" ng-repeat="title in titles">
                <div class="card">
                    <div class="card-header bg-primary-subtle">
                        <span ng-bind-html="title.text | to_trusted"></span>
                    </div>
                    <div class="card-body">
                        <div class="droppable" data-drop="true" jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback'}">
                            <div class="draggable" ng-repeat="word in words[$index]" data-drag="true"  data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},animate:true, onStart:'startCallback(word.text, $index)'}" data-box='{{word.box}}'><span>{{word.value}}</span></div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <span class="sentanceC"><span class="sentance">{{sentance}}</span></span>
        </div>
            <div class="mt-4">
                <div class="btn_container btn-group d-flex" role="group">
                    <button type="button" class="tpl_btn btn btn-outline-primary submit" ng-click="submit()">Submit</button>
                    <button type="button" class="tpl_btn btn btn-outline-primary" ng-click="change_ex_tpl()" ng-if="cnt < (size - 1)">Next</button>
                    <button type="button" class="tpl_btn btn btn-outline-primary quit" ng-click="quit()">Quit</button>
                </div>
            </div>
        </div>
    </div>
</div>