<div class="mb-4">
    <nav class="models_page_top navbar navbar-expand-lg bg-primary-subtle mb-2" ng-include="'partials/header.html'">
    
    </nav>
    <div class="container-lg">
    <div class="row">
        <div class="col-lg-3 mb-2">
            <p>{{sounds_data[key][index][lang][0]['h4']}}</p>
            <p><strong>{{sounds_data[key][index][lang][0]['text']}}</strong></p>

            <p ng-bind-html="sounds_data[key][index][lang][0]['initial'] | to_trusted"> </p>
            <p ng-bind-html="sounds_data[key][index][lang][0]['medial'] | to_trusted"></p>
            <p ng-bind-html="sounds_data[key][index][lang][0]['final'] | to_trusted"></p>
        </div>
        <div class="col-lg-9">
            <div class="accordion accordion-flush" id="videoAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="video-headingOne">
                        <button class="accordion-button fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#video-collapseOne" aria-expanded="false" aria-controls="video-collapseOne">
                            Watch the video
                        </button>
                    </h2>
                    <div id="video-collapseOne" class="accordion-collapse collapse show" aria-labelledby="video-headingOne" data-bs-parent="#videoAccordion">
                        <div class="accordion-body">
                            <div class="placeholder-glow ratio ratio-16x9">
                                <span class="placeholder"></span>
                                <iframe ng-src="{{sounds_data[key][index][lang][0]['video1']| trustAsResourceUrl}}" loading="lazy" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush" id="reviewAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="review-headingTwo">
                        <button class="accordion-button collapsed fw-semibold bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#review-collapseTwo" aria-expanded="false" aria-controls="review-collapseTwo">
                            Review
                        </button>
                    </h2>
                    <div id="review-collapseTwo" class="accordion-collapse collapse" aria-labelledby="review-headingTwo" data-bs-parent="#reviewAccordion">
                        <div class="accordion-body review">
                            <p>I can pronounce the sound <strong><span ng-bind-html="sounds_data[key][index]['phoneme'] | to_trusted"></span></strong>.</p>
                            <div class="rating_div clearfix" data-bs-theme="auto">
                                <div class="rate_1 {{review_val[1]}}" data-review="{{review_val}}" data-index_key="{{index}}" data-language="{{lang}}" data-type="{{key}}" ng-click="set_review(index, key, lang, 1)"></div>
                                <div class="rate_2 {{review_val[2]}}" data-review="{{review_val}}" data-index_key="{{index}}" data-language="{{lang}}" data-type="{{key}}" ng-click="set_review(index, key, lang, 2)"></div>
                                <div class="rate_3 {{review_val[3]}}" data-review="{{review_val}}" data-index_key="{{index}}" data-language="{{lang}}" data-type="{{key}}" ng-click="set_review(index, key, lang, 3)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
