<div class="container">
    <div class="titleContainer" ng-include="'partials/header.html'">

    </div>
    <div class="content">
        <div class="column_50">
            <div class="soundPDiv">
                <!--<div style="display: none;" class="column_title" ng-click="accordion_heading($event)">Consononts</div>-->

                <div class="accordion_title selected" ng-click="accordion_title($event)"><p>Consonants</p><span class="ico"></span></div>
                <div class="accordion_content _accordion_content">
                    <table width="97%">
                        <tr>
                            <th width="15%">Phoneme</th>
                            <th>Example</th>
                            <th>British</th>
                            <th>American</th>
                            <th></th>
                        </tr>

                        <tr ng-repeat="consonants in sounds_data['consonants']">
                            <td ng-bind-html="consonants.phoneme | to_trusted"></td>
                            <td ng-bind-html="consonants.example_word | to_trusted"></td>
                            <td>
                                <div ng-if="consonants.b_s == 'yes'" class="go_btn" ng-style="{'background-color':review_color[consonants.b[0].review]}" ng-click="go_btn_clk($event, $index, 'consonants', 'b')">Go</div>
                            </td>
                            <td>
                                <div ng-if="consonants.a_s == 'yes'" class="go_btn" ng-style="{'background-color':review_color[consonants.a[0].review]}" ng-click="go_btn_clk($event, $index, 'consonants', 'a')">Go</div>
                            </td>
                            <td><div class="infoB" ng-click="s_info($event, consonants.info, 5)"></div></td>
                        </tr>

                    </table>
                </div>

                <div class="notesText"></div>
            </div>
        </div>
        <div class="column_50">
            <div class="soundPDiv">
                <!--<div style="display: none;"class="column_title" ng-click="accordion_heading($event)">Vowels and Diphthongs</div>-->
                <div class="accordion_title selected" ng-click="accordion_title($event)"><p>Vowels and Diphthongs</p><span class="ico"></span></div>
                <div class="accordion_content _accordion_content">
                    <table width="97%">
                        <tr>
                            <th width="15%">Phoneme1</th>
                            <th>Example</th>
                            <th>British</th>
                            <th>American</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="vowels in sounds_data['vowels_n_diphthongs']">
                            <td ng-bind-html="vowels.phoneme | to_trusted"></td>
                            <td ng-bind-html="vowels.example_word | to_trusted"></td>
                            <td>
                                <div ng-if="vowels.b_s == 'yes'" class="go_btn" ng-style="{'background-color':review_color[vowels.b[0].review]}" ng-click="go_btn_clk($event, $index, 'vowels_n_diphthongs', 'b')">Go</div>
                            </td>
                            <td>
                                <div ng-if="vowels.a_s == 'yes'" class="go_btn" ng-style="{'background-color':review_color[vowels.a[0].review]}" ng-click="go_btn_clk($event, $index, 'vowels_n_diphthongs', 'a')">Go</div>
                            </td>
                            <td><div class="infoB" ng-click="s_info($event, vowels.info, 5)"></div></td>
                        </tr>

                    </table>
                </div>
                <div class="notesText"></div>
            </div>
        </div>
    </div>
</div>
