<div class="container">
    <div class="titleContainer" ng-include="'partials/header.html'">

    </div>
    <div class="content">
        <div class="left_part w_30 open left_part_m scroll_bar">
            <p>{{sounds_data[key][index][lang][0]['h4']}}</p>
            <p><strong>{{sounds_data[key][index][lang][0]['text']}}</strong></p>

            <p ng-bind-html="sounds_data[key][index][lang][0]['initial'] | to_trusted"> </p>
            <p ng-bind-html="sounds_data[key][index][lang][0]['medial'] | to_trusted"></p>
            <p ng-bind-html="sounds_data[key][index][lang][0]['final'] | to_trusted"></p>
        </div>
        <div class="right_part w_70 right_part_m scroll_bar" >
            <div class="accordion_c">
                <ul>
                    <li>
                        <div class="accordion_title selected" ng-click="accordion_title($event)"><p>Watch</p><span class="ico"></span></div>
                        <div class="accordion_content" style="display: block; padding-top: 19px;">
                            <div class="container_video">
                            <iframe class="video_container" style="width: 100%;" ng-src="{{sounds_data[key][index][lang][0]['video1']| trustAsResourceUrl}}" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion_title" ng-click="accordion_title($event)"><p>Practise</p><span class="ico"></span></div>
                        <div class="accordion_content">
                            <div class="practice_div">
                                <div class="popupC" style="display: none; width: 300px; position: fixed; z-index: 9;">
                                    <!--                <div class="closeb" ng-click="closePopup($event)">x</div>-->
                                    <div class="popup">
                                        <span class="alertMsg selNone">Please record your voice, then press Play.</span>
                                        <div class="btn_container">
                                            <div class="tpl_btn" ng-click="hide_popupC()">OK</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="practise_title">Watch the video clips and record your own pronunciation.</div>

                                <div class="lists" ng-if="sounds_data[key][index][lang][0]['video2'] != ''" >
                                    <div class="video_clk am_thumb fancybox.iframe" href="{{sounds_data[key][index][lang][0]['video2'] | trustAsResourceUrl}}" ng-class="{british_thumb: lang == 'b'}">
                                        <div class="v_thumb">

                                        </div>
                                    </div>
                                    <div class="pract_words" ng-bind-html="sounds_data[key][index]['phoneme'] | to_trusted"></div>
                                    <div class="record" data-audio_status="start" ng-click="start_record('sounds_' + key + '_' + index + '_' + lang + '_video2', $event)"></div>
                                    <div class="play" data-audio="" ng-click="play_wav_ol('sounds_' + key + '_' + index + '_' + lang + '_video2', $event)"></div>

                                </div>
                                <div class="lists" ng-if="sounds_data[key][index][lang][0]['video3'] != ''">
                                    <div class="video_clk am_thumb fancybox.iframe" href="{{sounds_data[key][index][lang][0]['video3']| trustAsResourceUrl}}" ng-class="{british_thumb: lang == 'b'}">

                                        <div class="v_thumb">

                                        </div>
                                    </div> <div class="pract_words" ng-bind-html="sounds_data[key][index][lang][0]['initial'] | to_trusted"></div>
                                    <div class="record" data-audio_status="start" ng-click="start_record('sounds_' + key + '_' + index + '_' + lang + '_video3', $event)">

                                    </div><div class="play" data-audio="" ng-click="play_wav_ol('sounds_' + key + '_' + index + '_' + lang + '_video3', $event)"></div>
                                </div>
                                <div class="lists" ng-if="sounds_data[key][index][lang][0]['video4'] != ''">
                                    <div class="video_clk am_thumb fancybox.iframe" href="{{sounds_data[key][index][lang][0]['video4']| trustAsResourceUrl}}" ng-class="{british_thumb: lang == 'b'}">

                                        <div class="v_thumb">

                                        </div>
                                    </div> <div class="pract_words" ng-bind-html="sounds_data[key][index][lang][0]['medial'] | to_trusted"></div>
                                    <div class="record" data-audio_status="start" ng-click="start_record('sounds_' + key + '_' + index + '_' + lang + '_video4', $event)"></div>
                                    <div class="play" data-audio="" ng-click="play_wav_ol('sounds_' + key + '_' + index + '_' + lang + '_video4', $event)"></div>

                                </div>
                                <div class="lists" ng-if="sounds_data[key][index][lang][0]['video5'] != ''">
                                    <div class="video_clk am_thumb fancybox.iframe" href="{{sounds_data[key][index][lang][0]['video5']| trustAsResourceUrl}}" ng-class="{british_thumb: lang == 'b'}">

                                        <div class="v_thumb">

                                        </div>
                                    </div> <div class="pract_words" ng-bind-html="sounds_data[key][index][lang][0]['final'] | to_trusted"></div>
                                    <div class="record" data-audio_status="start" ng-click="start_record('sounds_' + key + '_' + index + '_' + lang + '_video5', $event)"></div>
                                    <div class="play" data-audio="" ng-click="play_wav_ol('sounds_' + key + '_' + index + '_' + lang + '_video5', $event)"></div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion_title" ng-click="accordion_title($event)"><p>Review</p><span class="ico"></span></div>
                        <div class="accordion_content review">
                            <p>I can pronounce the sound <strong><span ng-bind-html="sounds_data[key][index]['phoneme'] | to_trusted"></span></strong>.</p>
                            <div class="rating_div clearfix">
                                <div class="rate_1 {{review_val[1]}}" data-review="{{review_val}}" data-index_key="{{index}}" data-language="{{lang}}" data-type="{{key}}" ng-click="set_review(index, key, lang, 1)"></div>
                                <div class="rate_2 {{review_val[2]}}" data-review="{{review_val}}" data-index_key="{{index}}" data-language="{{lang}}" data-type="{{key}}" ng-click="set_review(index, key, lang, 2)"></div>
                                <div class="rate_3 {{review_val[3]}}" data-review="{{review_val}}" data-index_key="{{index}}" data-language="{{lang}}" data-type="{{key}}" ng-click="set_review(index, key, lang, 3)"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
