.memory-card {
    @apply h-32 w-28 cursor-pointer;
    perspective: 1000px;
}

.card-inner {
    @apply duration-500 relative h-full w-full transition-transform ease-in-out;
    transform-style: preserve-3d;
}

.memory-card.flipped .card-inner {
    transform: rotateY(180deg); /* Flip the card */
}

.card-front,
.card-back {
    backface-visibility: hidden; /* Prevents showing the reverse side */
}

.card-front,
.card-back {
    @apply absolute flex h-full w-full select-none items-center justify-center rounded-md border border-gray-300 text-base font-bold;
}

/* Style for the front side */
.card-front {
    @apply z-10 bg-[#f8f5f0] bg-contain bg-center bg-no-repeat text-gray-300;
    background-image: url("/images/logos/ispeakerreact-logo-color.svg");
}

/* Style for the back side */
.card-back {
    @apply z-0 transform text-center text-sm md:text-base break-all;
}
