@font-face {
    font-family: Inter;
    src: url(../fonts/InterVariable.woff2);
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/InterVariable-Italic.woff2);
    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
}

*,
html {
    font-family: Inter, system-ui;
    font-variation-settings: "opsz" 15;
    font-feature-settings: "cv02", "cv03", "cv04", "cv05", "cv08", "cv10", "cv11";
}
