@font-face {
    font-family: Inter;
    src: url(../fonts/InterVariable.woff2);
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/InterVariable-Italic.woff2);
    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

*,
html {
    font-family: Inter, system-ui;
    font-variation-settings: "opsz" 15;
}

@font-face {
    font-family: "Noto Color Emoji";
    src: url("../fonts/NotoColorEmoji-Regular.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.noto-color-emoji {
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
}

.bg-tertiary {
    background-color: var(--bs-tertiary-bg);
}
